#title {
    color: rgba(250, 250, 250, 1);
    text-align: center;
    margin-top: 5%;
    font: 4rem 'Montserrat';
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    display: inline-block;
}

#title:before {
    content: "PRIZE";
    font-weight: 200;
}

#header {
    width: 100%;
    text-align: center;
}

#content {
    height: 100%;
    background-image: url('../../../../assets/wallpaper2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: auto;
    animation: breath 60s linear infinite;
    /* animation:none; */
}

@keyframes breath {
    0% {
        background-size: 100% 100%;
    }
    50% {
        background-size: 120% 120%;
    }
    100% {
        background-size: 100% 100%;
    }
}

#nav-bar {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    user-select: none;
    font-size: 1.2rem;
}

#nav-bar>div {
    margin: 1rem;
    margin-top: 5%;
    cursor: pointer;
}

#footer {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    user-select: none;
    font-size: 1.2rem;
}

#footer>div {
    margin: 1rem;
    cursor: pointer;
}

#main-container {
    background: rgba(255, 255, 255, 0.75);
    width: 70%;
    margin: 0 15%;
    min-height: auto;
    border-radius: 5px;
    padding: 5%;
    box-sizing: border-box;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#search-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

#search-input {
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 100px;
    text-align: center;
    /* display: none; */
}

#search-input:focus {
    outline: none;
}

#search-input::placeholder {
    color: rgba(100, 100, 100, 0.2);
}

#result-container {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat';
    font-weight: 500;
}

#inside-container {
    display: flex;
    flex-direction: row;
}

#company-info {
    font-weight: 600;
}

#coefficients {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#coefficients-graph {
    height: 150%;
    width: 200%;
}

#coefficients-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#result-container>div {
    width: 47%;
}

.info-card {
    background: white;
    padding: 1rem;
    border-radius: 5px;
    margin: 1.5%;
    box-sizing: border-box;
    user-select: none;
    animation-name: slide-from-right;
    animation-duration: 0.25s;
    position: relative;
}

@keyframes slide-from-right {
    0% {
        left: 50px;
    }
    100% {
        left: 0px;
    }
}

.translate.triggeredCSS3 {
    transform: translate3d(400px, 0, 0);
}

.info-card>div {
    margin: 0.5rem 0;
}

.bad-article, .good-article {
    font-family: 'Roboto Slab';
}

.good-article {
    background-color: rgba(248, 255, 248, 1);
}

.bad-article {
    background-color: rgba(255, 248, 248, 1);
}

#loading-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

#company-card {
    background-size: cover;
    background-image: url('../../../../assets/background2.png');
    color: white;
    width: 100% !important;
}

#investition-card {
    width: 100% !important;
}

#coefficients-graph>div>canvas {
    height: 100% !important;
    width: 100% !important;
}

#coefficients-text {
    font-weight: 300;
}

#company-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-weight: 300;
    width: 100%;
    margin: 0;
}

#company-flex-container>div {
    flex: 1;
    align-self: auto;
}

#company-flex-container>div>.info-icon {
    margin: 0;
    padding: 0;
    color: white !important;
}

#company-flex-container>div>p>.dropdown-content {
    top: 1.5rem;
}

#error-container {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: rgb(220, 28, 28);
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 1.5rem;
}

#company-info {
    font-size: 2rem;
    font-weight: 300;
}

#card-header {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

#card-header p {
    margin-block-end: 0;
}

#card-title, #card-watchlist {
    width: auto;
    font-size: 0.7rem;
    font-weight: 300;
    user-select: none;
    margin: 0;
}

#card-watchlist {
    margin: 0;
    padding: 0;
    line-height: 1rem;
    vertical-align: center;
    user-select: none;
    cursor: pointer;
}

#watchlist-text {
    display: inline-block;
}

#not-found {
    margin: 1rem;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#not-found-image {
    font-size: 10rem;
    color: rgba(0, 0, 0, 0.2);
}

#not-found-text {
    color: rgba(0, 0, 0, 0.6);
}

#article-date {
    float: left;
    font-size: 0.6rem;
    line-height: 0.6rem;
    margin-bottom: 0;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

#article-analysis {
    float: right;
    font-size: 0.6rem;
    line-height: 0.6rem;
    margin-bottom: 0;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

#article-analysis .dropdown-content {
    line-height: 0.9rem;
    font-size: 0.8rem;
}

#article-body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    user-select: text;
}

#article-title {
    color: rgba(0, 0, 0, 0.65);
}

#article-title:hover {
    opacity: 0.7;
}

.article-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#articles-subtitle {
    margin: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 300;
    user-select: none;
}

#top-stocks-table {
    width: 100%;
    background: white;
    border-radius: 5px;
    user-select: none;
    position: relative;
    font-size: 1rem;
    line-height: 5rem;
    text-align: center;
    border-collapse: collapse;
    overflow: hidden;
}

#top-stocks-head {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

#top-stocks-head>th {
    font-weight: 300;
}

#top-stocks-head>th>.info-icon {
    margin: 0;
    padding: 0;
    line-height: 1rem;
    color: white;
}

.animate-from-bottom {
    animation-name: slide-from-bottom;
    animation-duration: 0.25s;
    position: relative;
}

@keyframes slide-from-bottom {
    0% {
        top: 50px;
        opacity: 0.4;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

#top-stocks-title {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.75);
    font-size: 1.5rem;
    margin-top: 5%;
}

#company-name-cell {
    cursor: pointer;
}

#company-name-cell:hover {
    color: rgba(0, 0, 0, 0.7);
}

#top-stocks-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#top-stocks-body {
    font-family: 'Montserrat', sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.96);
    min-width: 160px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 0.5rem;
    border-radius: 5px;
    color: rgba(0, 0, 0, 1);
    font-size: 0.8rem;
    font-weight: 300;
    user-select: none;
    margin: 0;
    left: 1rem;
    top: 1rem;
    animation-name: slide-from-right;
    animation-duration: 0.1s;
}

@keyframes slide-from-right {
    0% {
        left: 3rem;
    }
    100% {
        left: 1rem;
    }
}

.info-icon {
    display: inline-block;
    position: relative;
    color: rgba(0, 0, 0, 0.4);
}

#company-card .info-icon {
    color: rgba(255, 255, 255, 0.5);
}

.info-icon:hover .dropdown-content {
    display: inline-block;
}

#watchlist-text:hover, #nav-bar>div:hover, #title:hover, #footer>div:hover {
    opacity: 0.75;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 35px;
    text-align: center;
    width: 100%;
    z-index: 3;
    position: relative;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 100%;
    z-index: 1;
    padding-top: 2.5rem;
    clear: both;
    animation-name: slide-down;
    animation-duration: 0.25s;
}

@keyframes slide-down {
    0% {
        top: 70px;
    }
    100% {
        top: 2rem;
    }
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.react-autosuggest__suggestion--highlighted {
    background-color: rgba(255, 255, 255, 0.5)
}

.switch {
    position: relative;
    display: inline-block;
    width: 2.1rem;
    height: 1.25rem;
    opacity: 0.7;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 0.125rem;
    bottom: 0.15rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.toggle {
    background-color: #2196F3;
}

input:checked+.toggle:before {
    -webkit-transform: translateX(0.85rem);
    -ms-transform: translateX(0.85rem);
    transform: translateX(0.85rem);
}

.toggle.round {
    border-radius: 2rem;
}

.toggle.round:before {
    border-radius: 50%;
}

#toggle-text {
    color: rgba(100, 100, 100, 0.6);
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0 1rem;
    user-select: none;
}

#toggle-container {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

#slide-input {
    opacity: 0.5;
}

input[type=number] {
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 35px;
    text-align: center;
    position: relative;
    width: 7rem;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    margin-left: 1rem;
}

input[type=number]:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#investition-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);
    font-size: 0.8rem;
}

#investition-container>div {
    width: 47%;
    text-align: center;
}

#investition-result {
    margin: 0 1rem;
    font-weight: 400;
    font-size: 1rem;
    color: black;
}
#investition-output {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#investition-input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#top-popular>svg {
    color: rgba(220, 190, 120, 0.8);
}

#top-growing>svg {
    color: rgba(150, 220, 150, 0.8);
}

#top-decreasing>svg {
    color: rgba(220, 150, 150, 0.8);
}

#my-history>svg {
    color: rgba(80, 160, 230, 0.8);
}

#my-watchlist>svg {
    color: rgba(220, 190, 60, 0.8);
}